* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: sans-serif;
}

h1 {
    font-size: 250%;
    margin-bottom: 20px;
    /* border-bottom: 1px solid  rgb(0, 0, 0); */
}

article {
    width: 700px;
    /* background-color: rgb(249, 239, 227); */
    margin-left: 100px;
    padding: 20px;
}


figure {
    margin-bottom: 40px;
}

img {
    width: 350px;
    /* margin-bottom: 40px; */
    border-radius: 5px;
}

p {
    margin-bottom: 40px;
}


figcaption{ 
    font-size: 80%;
    font-style: italic;
}
audio {
    display: block;
    margin-top: 20px;
}

video {
    width: 100%;
}